In [1]:
import pandas
pandas.options.mode.chained_assignment = None
import sys
import numpy as np
from globsML.utils.preprocessing import rescale_data, select_galaxies, create_data_dict, replace_NaN
from globsML.models.skmodels import StandardClassifier

data_path = '../../../data/ACS_sources_original.csv'
data = pandas.read_csv(data_path)
test_galaxies = set(data[data['cluster']=='Virgo']['galaxy'].unique())

In [2]:
df_train, dfs_test = select_galaxies(data, test_galaxies = test_galaxies)
df_train, dfs_test = replace_NaN(df_train, dfs_test)
df = create_data_dict(data, df_train, dfs_test)
df, _ = rescale_data(df)

input_dim = len(df['train']['inputs'][0])

Number of sources in training split after dropping rows with NaN as CI/m/color: 21232
535 sources have been dropped.
NaN values in testing data have been replaced with the correspnding median value observed in the training split

100%|█████████████████████████████████████████████████████████████████████████████████| 29/29 [00:00<00:00, 3053.01it/s]

eccentricity will not be transformed. Skipped.
eccentricity_z will not be transformed. Skipped.

In [3]:
model = StandardClassifier(method='logistic', data=df)

Loading data...
Fitting model...

In [4]:
model.val()

/home/dodo/anaconda3/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/dodo/anaconda3/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/home/dodo/git/globsML/globsML/utils/eval.py:146: RuntimeWarning: divide by zero encountered in double_scalars
  return auc(x,y)/(2*auc([0,x[-1]], [0,y[-1]])), x, y

In [5]:
model.stats_validation

,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,0.817891,0.160656,0.065421,inf,0.952107,256,313,49,1062

In [6]:
model.test()

/home/dodo/anaconda3/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/dodo/anaconda3/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/home/dodo/git/globsML/globsML/utils/eval.py:146: RuntimeWarning: divide by zero encountered in double_scalars
  return auc(x,y)/(2*auc([0,x[-1]], [0,y[-1]])), x, y

In [7]:
model.stats_galaxies

,Galaxy,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,VCC1910,0.711864,0.548387,0.124694,inf,0.894410,42,59,51,468
1,VCC654,0.812500,0.512500,0.122024,inf,0.924045,39,48,41,384
2,VCC230,0.729730,0.831250,0.192475,inf,0.865706,27,37,133,728
3,VCC575,0.608696,0.750000,0.112000,inf,0.884116,14,23,42,398
4,VCC1250,0.833333,0.482759,0.114441,0.602193,0.911141,45,54,42,421
...,...,...,...,...,...,...,...,...,...,...
93,VCC1422,0.756757,0.616438,0.111111,inf,0.893193,28,37,45,442
94,VCC763,0.873984,0.069264,0.133891,0.880577,0.934415,430,492,32,731
95,VCC1431,0.771429,0.896947,0.206957,inf,0.857907,54,70,470,2341
96,VCC2019,0.764706,0.662338,0.102000,inf,0.891824,26,34,51,534
97,VCC698,0.854701,0.270073,0.130282,inf,0.918186,100,117,37,401

In [8]:
model.stats_galaxies.mean()

/tmp/ipykernel_1343/3415850949.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  model.stats_galaxies.mean()

TPR               0.733756
FDR               0.575436
FPR               0.148909
AUC(FDR,TPR)           inf
AUC(FPR,TPR)      0.884652
# found GCs     104.500000
# total GCs     126.479592
# fake GCs       82.438776
# sources       644.510204
dtype: float64

In [9]:
model.stats_all

,Galaxy,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,ALL,0.82622,0.440993,0.159139,inf,0.909356,10241,12395,8079,63162