In [1]:
import pandas
pandas.options.mode.chained_assignment = None
import sys
import numpy as np
from globsML.utils.preprocessing import rescale_data, select_galaxies, create_data_dict, replace_NaN
from globsML.models.skmodels import StandardClassifier

data_path = '../../../data/ACS_sources_original.csv'
data = pandas.read_csv(data_path)
test_galaxies = set(data[data['cluster']=='Virgo']['galaxy'].unique())

In [2]:
df_train, dfs_test = select_galaxies(data, test_galaxies = test_galaxies)
df_train, dfs_test = replace_NaN(df_train, dfs_test)
df = create_data_dict(data, df_train, dfs_test)
df, _ = rescale_data(df)

input_dim = len(df['train']['inputs'][0])

Number of sources in training split after dropping rows with NaN as CI/m/color: 21232
535 sources have been dropped.
NaN values in testing data have been replaced with the correspnding median value observed in the training split

100%|█████████████████████████████████████████████████████████████████████████████████| 29/29 [00:00<00:00, 4082.25it/s]

eccentricity will not be transformed. Skipped.
eccentricity_z will not be transformed. Skipped.

In [3]:
model = StandardClassifier(method='forest', data=df)

Loading data...
Fitting model...

In [4]:
model.val()

/home/dodo/anaconda3/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/dodo/anaconda3/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [5]:
model.stats_validation

,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,0.900958,0.07541,0.030708,0.948241,0.987078,282,313,23,1062

In [6]:
model.test()

/home/dodo/anaconda3/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/dodo/anaconda3/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [7]:
model.stats_galaxies

,Galaxy,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,VCC1431,0.857143,0.104478,0.003082,0.923499,0.980521,60,70,7,2341
1,VCC1903,0.933555,0.017483,0.014245,0.990749,0.995471,281,301,5,652
2,VCC798,0.865546,0.076233,0.052388,0.934737,0.969311,412,476,34,1125
3,VCC1062,0.910112,0.047059,0.018476,0.971297,0.991463,162,178,8,611
4,VCC1993,0.750000,0.625000,0.020325,0.727856,0.991362,3,4,5,250
...,...,...,...,...,...,...,...,...,...,...
93,VCC1355,0.800000,0.200000,0.012987,0.887740,0.992127,16,20,4,328
94,VCC1199,0.907489,0.019048,0.006873,0.987107,0.995178,206,227,4,809
95,VCC1857,0.687500,0.312500,0.010482,0.692933,0.943986,11,16,5,493
96,VCC1828,0.769231,0.230769,0.016304,0.797295,0.958194,20,26,6,394
97,VCC1528,0.875000,0.066667,0.010601,0.929217,0.984504,42,48,3,331

In [8]:
model.stats_galaxies.mean()

/tmp/ipykernel_1864/3415850949.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  model.stats_galaxies.mean()

TPR               0.841579
FDR               0.140309
FPR               0.015871
AUC(FDR,TPR)      0.902069
AUC(FPR,TPR)      0.983387
# found GCs     113.122449
# total GCs     126.479592
# fake GCs        7.122449
# sources       644.510204
dtype: float64

In [9]:
model.stats_all

,Galaxy,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,ALL,0.894393,0.059233,0.013749,0.962676,0.989307,11086,12395,698,63162