In [1]:
import pandas
pandas.options.mode.chained_assignment = None
import sys
import numpy as np
from globsML.utils.preprocessing import rescale_data, select_galaxies, create_data_dict, replace_NaN
from globsML.models.skmodels import StandardClassifier

data_path = '../../../data/ACS_sources_original.csv'
data = pandas.read_csv(data_path)
test_galaxies = set(data[data['cluster']=='Virgo']['galaxy'].unique())

In [2]:
df_train, dfs_test = select_galaxies(data, test_galaxies = test_galaxies)
df_train, dfs_test = replace_NaN(df_train, dfs_test)
df = create_data_dict(data, df_train, dfs_test)
df, _ = rescale_data(df)

input_dim = len(df['train']['inputs'][0])

Number of sources in training split after dropping rows with NaN as CI/m/color: 21232
535 sources have been dropped.
NaN values in testing data have been replaced with the correspnding median value observed in the training split

100%|█████████████████████████████████████████████████████████████████████████████████| 29/29 [00:00<00:00, 4008.93it/s]

eccentricity will not be transformed. Skipped.
eccentricity_z will not be transformed. Skipped.

In [3]:
model = StandardClassifier(method='svm-lin', data=df)

Loading data...
Fitting model...

In [4]:
model.val()

In [5]:
model.stats_validation

,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,0.817891,0.160656,0.065421,--,--,256,313,49,1062

In [6]:
model.test()

In [7]:
model.stats_galaxies

,Galaxy,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,VCC1422,0.783784,0.597222,0.106173,--,--,29,37,43,442
1,VCC1512,0.714286,0.824561,0.164336,--,--,10,14,47,300
2,VCC140,0.724138,0.655738,0.079523,--,--,21,29,40,532
3,VCC1913,0.822581,0.622222,0.140000,--,--,51,62,84,662
4,VCC1226,0.858099,0.139597,0.241860,--,--,641,747,104,1177
...,...,...,...,...,...,...,...,...,...,...
93,VCC1146,0.913580,0.356522,0.092551,--,--,74,81,41,524
94,VCC9,0.656250,0.553191,0.076696,--,--,21,32,26,371
95,VCC1630,0.818182,0.695946,0.177893,--,--,45,55,103,634
96,VCC1779,0.428571,0.948276,0.133172,--,--,3,7,55,420
97,VCC1861,0.787234,0.626263,0.147619,--,--,37,47,62,467

In [8]:
model.stats_galaxies.mean()

/tmp/ipykernel_1371/3415850949.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  model.stats_galaxies.mean()

TPR              0.755270
FDR              0.556704
FPR              0.137434
# found GCs    106.173469
# total GCs    126.479592
# fake GCs      74.418367
# sources      644.510204
dtype: float64

In [9]:
model.stats_all

,Galaxy,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,ALL,0.839451,0.41208,0.143656,--,--,10405,12395,7293,63162