In [1]:
import pandas
pandas.options.mode.chained_assignment = None
import sys
import numpy as np
from globsML.utils.preprocessing import rescale_data, select_galaxies, create_data_dict, replace_NaN
from globsML.models.skmodels import StandardClassifier

data_path = '../../../data/ACS_sources_original.csv'
data = pandas.read_csv(data_path)
test_galaxies = set(data[data['cluster']=='Virgo']['galaxy'].unique())

In [2]:
df_train, dfs_test = select_galaxies(data, test_galaxies = test_galaxies)
df_train, dfs_test = replace_NaN(df_train, dfs_test)
df = create_data_dict(data, df_train, dfs_test)
df, _ = rescale_data(df)

input_dim = len(df['train']['inputs'][0])

Number of sources in training split after dropping rows with NaN as CI/m/color: 21232
535 sources have been dropped.
NaN values in testing data have been replaced with the correspnding median value observed in the training split

100%|█████████████████████████████████████████████████████████████████████████████████| 29/29 [00:00<00:00, 3709.40it/s]

eccentricity will not be transformed. Skipped.
eccentricity_z will not be transformed. Skipped.

In [3]:
model = StandardClassifier(method='svm-rbf', data=df)

Loading data...
Fitting model...

In [4]:
model.val()

In [5]:
model.stats_validation

,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,0.907348,0.115265,0.049399,--,--,284,313,37,1062

In [6]:
model.test()

In [7]:
model.stats_galaxies

,Galaxy,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,VCC1475,0.857143,0.200000,0.039474,--,--,72,84,18,540
1,VCC2019,0.794118,0.386364,0.034000,--,--,27,34,17,534
2,VCC369,0.931034,0.129032,0.071429,--,--,162,174,24,510
3,VCC230,0.891892,0.312500,0.021708,--,--,33,37,15,728
4,VCC575,0.869565,0.428571,0.040000,--,--,20,23,15,398
...,...,...,...,...,...,...,...,...,...,...
93,VCC1938,0.900990,0.187500,0.049763,--,--,91,101,21,523
94,VCC355,0.806452,0.242424,0.028219,--,--,50,62,16,629
95,VCC1125,0.854839,0.273973,0.032415,--,--,53,62,20,679
96,VCC1545,0.833333,0.350649,0.076271,--,--,50,60,27,414
97,VCC2095,0.817460,0.237037,0.070330,--,--,103,126,32,581

In [8]:
model.stats_galaxies.mean()

/tmp/ipykernel_1394/3415850949.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  model.stats_galaxies.mean()

TPR              0.830888
FDR              0.331839
FPR              0.050481
# found GCs    114.418367
# total GCs    126.479592
# fake GCs      22.091837
# sources      644.510204
dtype: float64

In [9]:
model.stats_all

,Galaxy,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,ALL,0.904639,0.161833,0.042646,--,--,11213,12395,2165,63162