In [1]:
import pandas
pandas.options.mode.chained_assignment = None
import sys
import numpy as np
from globsML.utils.preprocessing import rescale_data, select_galaxies, create_data_dict, replace_NaN
from globsML.models.skmodels import StandardClassifier

data_path = '../../../data/ACS_sources_original.csv'
data = pandas.read_csv(data_path)
test_galaxies = set(data[data['cluster']=='Virgo']['galaxy'].unique())

In [2]:
df_train, dfs_test = select_galaxies(data, test_galaxies = test_galaxies)
df_train, dfs_test = replace_NaN(df_train, dfs_test)
df = create_data_dict(data, df_train, dfs_test)
df, _ = rescale_data(df)

input_dim = len(df['train']['inputs'][0])

Number of sources in training split after dropping rows with NaN as CI/m/color: 21232
535 sources have been dropped.
NaN values in testing data have been replaced with the correspnding median value observed in the training split

100%|█████████████████████████████████████████████████████████████████████████████████| 29/29 [00:00<00:00, 4789.15it/s]

eccentricity will not be transformed. Skipped.
eccentricity_z will not be transformed. Skipped.

In [3]:
model = StandardClassifier(method='knn', data=df)

Loading data...
Fitting model...

In [4]:
model.val()

/home/dodo/anaconda3/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/dodo/anaconda3/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [5]:
model.stats_validation

,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,0.894569,0.138462,0.06008,0.849123,0.917244,280,313,45,1062

In [6]:
model.test()

/home/dodo/anaconda3/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/dodo/anaconda3/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [7]:
model.stats_galaxies

,Galaxy,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,VCC1779,0.857143,0.727273,0.038741,0.558772,0.909201,6,7,16,420
1,VCC751,1.000000,0.384615,0.022936,0.800635,0.988532,16,16,10,452
2,VCC2092,0.797753,0.211111,0.064189,0.761583,0.866782,71,89,19,385
3,VCC1025,0.801980,0.156250,0.027675,0.808307,0.887152,81,101,15,643
4,VCC2050,0.789474,0.375000,0.025140,0.697286,0.882167,15,19,9,377
...,...,...,...,...,...,...,...,...,...,...
93,VCC881,0.873950,0.074184,0.091575,0.851378,0.891187,312,357,25,630
94,VCC1489,0.818182,0.485714,0.022251,0.659240,0.897965,18,22,17,786
95,VCC1154,0.904762,0.177885,0.089588,0.822736,0.907587,171,189,37,602
96,VCC1226,0.899598,0.056180,0.093023,0.872911,0.903288,672,747,40,1177
97,VCC1627,0.857143,0.625000,0.039683,0.607391,0.908730,6,7,10,259

In [8]:
model.stats_galaxies.mean()

/tmp/ipykernel_1769/3415850949.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  model.stats_galaxies.mean()

TPR               0.853504
FDR               0.282338
FPR               0.042589
AUC(FDR,TPR)      0.767219
AUC(FPR,TPR)      0.905458
# found GCs     112.561224
# total GCs     126.479592
# fake GCs       19.204082
# sources       644.510204
dtype: float64

In [9]:
model.stats_all

,Galaxy,TPR,FDR,FPR,"AUC(FDR,TPR)","AUC(FPR,TPR)",# found GCs,# total GCs,# fake GCs,# sources
0,ALL,0.889956,0.145745,0.037071,0.854313,0.926442,11031,12395,1882,63162